

body{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.projects_container, .tasks_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

.column{
    background-color: goldenrod;
    height: auto;
}

.task_header{
    text-align: center;
    text-decoration: underline;
    color: white;
}

.tasks_wrapper{
    min-width: 100px;
    min-height: 100px;
    background-color: gold;
}

.task-item{
    width: auto;
    height: 100%;
    margin-top: 5px;
    margin-left: 70px;
    margin-right: 70px;

    text-align: center;
    font-size: 30px;  
    color: black;
    text-decoration: none;

    border: 1px solid black;
    border-radius: 8px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.task_text{
    margin: 0;
    padding: 0;
}

.task_remove_btn{
    margin: auto;
    margin-right: 5px;
    outline: none;
    border:none;
    background-color: transparent;
}

.task_remove_btn:hover{
    transform: scale(1.2);
}

/* ---------------- */

.project_wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    background-color: goldenrod;
}

.project_link{
    color: white;
    text-decoration: none;
    margin: auto;
    font-size: 36px;
    text-decoration: underline;
}

.edit_btn{
    border: none;
    outline: none;
    border:none;
    background-color: transparent;
    padding: 0;
    color: black;
}

.edit_btn:hover{
    color: red;
}

.progress_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 15px;
    text-align: center;
    font-size: 18px;

    position: relative;
}

.progress_prosent{
    display: inline;    
    position: absolute;
    font-size: 12px;
    color: black;
    transform: translate(-50%, -50%);
    top: 48%;
    left: 50%;
}

.progress_wrapper>p{
    margin: 10px;
}

.project_progress{
    grid-column: span 2;
    text-align: center;
}   

.task_progressbar {
    border-radius: 6px; 
}
.task_progressbar::-webkit-progress-bar {
    background-color: white;
    border-radius: 6px;
}
.task_progressbar::-webkit-progress-value {
    background-color: gold;
    border-radius: 6px; 
}

.description{
    position: relative;
}

.description_wrapper{
    display: none;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 60px;
    left: 200px;
    
    border: 1px solid black;
    padding: 10px;
}

.description_wrapper>p{
    margin: 0;
}

/**/

.new_project_section{
    display: none;
    text-align: center;
}

#new_project_headline{
    margin: 0;
    padding: 0;
    font-size: 26px;
    text-decoration: underline;
}

.new_project_wrapper{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;

    background-color: chocolate;
    padding: 40px;
    border: 2px solid black;
    border-radius: 4px;
}

.new_project_wrapper>input, .new_project_wrapper>textarea{
    width: auto;
    min-width: 350px;
    
    margin: 5px;
    padding: 10px;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
}

.new_project_wrapper>textarea{
    min-height: 100px;
}

#close_new_project{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    font-size: 18px;
}

#close_new_project:hover{
    transform: scale(1.1)
}


#new_project_submit{
    font-size: 16px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: burlywood;
    border: none;
    border-radius: 4px;
    outline: none;
}

#new_project_submit:hover{
    box-shadow: 0 0 0 1pt black;
}







